/* justify-self digunakan untuk mengatur posisi item pada sebuah cell terhadap sumbu horizontal

.item {
  display: grid;
  justify-self: start | end | center | stretch;
} */

      html,
      body {
        margin: 0;
        padding: 0;
        background-color: #ddd;
      }

      .container {
        width: 80%;
        margin: 50px auto;
        display: grid;
        grid-template-columns: minmax(200px, 300px) 1fr 1fr;
        grid-template-rows: repeat(3, 100px);

        /* grid-template-columns: [satu] minmax(200px, 300px) [dua] 1fr [tiga] 1fr [empat];
        grid-template-rows: [baris1] 100px [baris2] 100px [b-3] 100px [b4]; */
      }

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .my-item {
        /* justify-self: start; */
        /* justify-self: end; */
        justify-self: center;
        /* justify-self: stretch; */
        background-color: lightblue;
      }